Package: e-sabit-dbgsym
Source: e-sabit
Version: 2.1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Bayram KARAHAN <bayramk@gmail.com>
Installed-Size: 717
Depends: e-sabit (= 2.1.0)
Section: debug
Priority: optional
Description: debug symbols for e-sabit
Build-Ids: 3748ac4c786cbecdb900ea80500395d9e11f57f7
